.course {
  color: #E0622B;
  text-transform: uppercase;
  font: normal 40px/40px "tiepolo-bold", serif;
  letter-spacing: 0.05em;
  padding: 50px;
  text-align: center;
}

.col {
  font-family: "Open Sans", sans-serif;
  padding: 40px;
  text-align: left;
}

.dish {
  color: #7A5E48;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.description {
  color: #7A5E48;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.price {
  color: #7A5E48;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

#menu-container {
  max-width: 850px;
}
